@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  --background: 247, 249, 252;
  --primary-text: 46, 58, 89;
  --secondary-text: 107, 124, 147;
  --accent-color: 52, 152, 219;
  --border: 229, 233, 242;
}
body.dark {
  --background: 26, 28, 45;
  --primary-text: 245, 246, 247;
  --secondary-text: 140, 147, 161;
  --accent-color: 74, 163, 223;
  --border: 44, 47, 59;
}
